# UI - SauceDemo
BASE_URL=
STANDARD_PASSWORD=
USER_STANDARD=
USER_LOCKED_OUT=
USER_PROBLEM=
USER_PERFORMANCE_GLITCH=
USER_ERROR=
USER_VISUAL=

# API - Restful Booker
BOOKER_BASE_URL=
BOOKER_USERNAME=
BOOKER_PASSWORD=
